html {
  background-color: #CCFFCC;
}
h1 {
  text-align: center;
  font-family: monospace;
  color: #4d2800;
  font-size: 300%;
}
.present-about {
  text-decoration: overline;
}
table {
  text-align: center;
}
td {
  padding: 10px;
}
.anchor-page {
font-family: monospace;
font-size: 150%;
}
h3 {
  font-family: lucida handwriting;
  color: #4d2800;
  text-align: center;
}
img {
  border-color: #4d2800;
  border-radius: 5px;
}
p {
  text-align: left;
  font-family: monospace;
  color: #331a00;
  font-weight: bold;
}
.contact {
  font-family: monospace;
}
.table-portfolio {
  font-family: monospace;
};
